# Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
1.  Rank
2. Name
3. Artist
4. Upload date
5. Views

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [2]:
driver = webdriver.Chrome(r"C:\Users\User\Documents\chromedriver.exe")
driver.maximize_window()

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(5)

In [4]:
rank = []
name = []
artist = []
upload_date = []
views = []

In [5]:
#driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
deta = []
data1 = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
for i in data1:
    rank.append(i.text)

In [6]:
rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [7]:
data2 = []
data2 = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
for i in data2:
    name.append(i.text)

In [8]:
name

['"Baby Shark Dance"[23]',
 '"Despacito"[25]',
 '"Johny Johny Yes Papa"[26]',
 '"Shape of You"[27]',
 '"See You Again"[28]',
 '"Bath Song"[31]',
 '"Learning Colors – Colorful Eggs on a Farm"[32]',
 '"Masha and the Bear – Recipe for Disaster"[33]',
 '"Uptown Funk"[34]',
 '"Phonics Song with Two Words"[35]',
 '"Gangnam Style"[36]',
 '"Dame Tu Cosita"[38]',
 '"Sugar"[39]',
 '"Sorry"[40]',
 '"Roar"[41]',
 '"Counting Stars"[42]',
 '"Thinking Out Loud"[43]',
 '"Wheels on the Bus"[44]',
 '"Faded"[45]',
 '"Dark Horse"[46]',
 '"Girls Like You"[47]',
 '"Lean On"[48]',
 '"Bailando"[49]',
 '"Shake It Off"[50]',
 '"Let Her Go"[51]',
 '"Axel F"[52]',
 '"Perfect"[53]',
 '"Mi Gente"[54]',
 '"Waka Waka (This Time for Africa)"[55]',
 '"Hello"[56]']

In [9]:
art = []
art = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in art:
    artist.append(i.text)

In [10]:
artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon – Nursery Rhymes',
 'Miroshka TV',
 'Get Movies',
 'Mark Ronson',
 'ChuChu TV',
 'Psy',
 'El Chombo',
 'Maroon 5',
 'Justin Bieber',
 'Katy Perry',
 'OneRepublic',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Alan Walker',
 'Katy Perry',
 'Maroon 5',
 'Major Lazer',
 'Enrique Iglesias',
 'Taylor Swift',
 'Passenger',
 'Crazy Frog',
 'Ed Sheeran',
 'J Balvin',
 'Shakira',
 'Adele']

In [11]:
view = []
view = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in view:
    views.append(i.text)

In [12]:
views

['9.58',
 '7.61',
 '5.85',
 '5.51',
 '5.31',
 '4.60',
 '4.53',
 '4.47',
 '4.34',
 '4.27',
 '4.24',
 '3.67',
 '3.58',
 '3.48',
 '3.46',
 '3.43',
 '3.35',
 '3.33',
 '3.17',
 '3.17',
 '3.16',
 '3.12',
 '3.12',
 '3.11',
 '3.11',
 '3.08',
 '3.00',
 '3.00',
 '2.98',
 '2.90']

In [13]:
upload = []
upload = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in upload:
    upload_date.append(i.text)

In [14]:
upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'May 2, 2018',
 'February 27, 2018',
 'January 31, 2012',
 'November 19, 2014',
 'March 6, 2014',
 'July 15, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'October 22, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 7, 2014',
 'May 24, 2018',
 'December 3, 2015',
 'February 20, 2014',
 'May 31, 2018',
 'March 22, 2015',
 'April 11, 2014',
 'August 18, 2014',
 'July 25, 2012',
 'June 16, 2009',
 'November 9, 2017',
 'June 29, 2017',
 'June 4, 2010',
 'October 22, 2015']

In [15]:
album = pd.DataFrame({})
album['Rank'] = rank
album['Album Name'] = name
album['Artist'] = artist
album['Veiws (Billions)'] = views
album['Date Uploaded'] = upload_date

In [16]:
album.set_index('Rank')
album.head()

,Rank,Album Name,Artist,Veiws (Billions),Date Uploaded
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,9.58,"June 17, 2016"
1,2.,"""Despacito""[25]",Luis Fonsi,7.61,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.85,"October 8, 2016"
3,4.,"""Shape of You""[27]",Ed Sheeran,5.51,"January 30, 2017"
4,5.,"""See You Again""[28]",Wiz Khalifa,5.31,"April 6, 2015"

# Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
1. Match title (I.e. 1st ODI)
2. Series
3. Place
4. Date
5. Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [17]:
driver.get('https://www.bcci.tv/international/fixtures')
time.sleep(5)

more_button = driver.find_element_by_id("//span[@load-more-button u-center js-show-more-button js-loader']")
more_button.click()

In [18]:
match_title = []
series = []
place = []
date = []
match_time = []

In [19]:
title= []
title = driver.find_elements_by_xpath("//div[@class='fixture__teams']")

In [20]:
for i in title:
    match_title.append(i.text.replace('\n',' '))

In [21]:
match_title

['INDIA v NEW ZEALAND',
 'INDIA v NEW ZEALAND',
 'INDIA v NEW ZEALAND',
 'INDIA v NEW ZEALAND',
 'INDIA v NEW ZEALAND',
 'INDIA v WEST INDIES',
 'INDIA v WEST INDIES',
 'INDIA v WEST INDIES',
 'INDIA v WEST INDIES',
 'INDIA v WEST INDIES']

In [22]:
ser = []
ser = driver.find_elements_by_xpath("//div[@class='fixture__format-strip']")

In [23]:
for i in ser:
    series.append(i.text.replace('\n',' '))

In [24]:
series

['T20I INDIA V NEW ZEALAND 2021',
 'T20I INDIA V NEW ZEALAND 2021',
 'T20I INDIA V NEW ZEALAND 2021',
 'TEST INDIA V NEW ZEALAND 2021',
 'TEST INDIA V NEW ZEALAND 2021',
 'ODI INDIA V WEST INDIES 2022',
 'ODI INDIA V WEST INDIES 2022',
 'ODI INDIA V WEST INDIES 2022',
 'T20I INDIA V WEST INDIES 2022',
 'T20I INDIA V WEST INDIES 2022']

In [25]:
pl = []
pl = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in pl:
    place.append(i.text)

In [26]:
place

['Sawai Mansingh Stadium, Jaipur',
 'JSCA International Stadium Complex, Ranchi',
 'Eden Gardens, Kolkata',
 'Green Park, Kanpur',
 'Wankhede Stadium, Mumbai',
 'Narendra Modi Stadium, Ahmedabad',
 'Sawai Mansingh Stadium, Jaipur',
 'Eden Gardens, Kolkata',
 'Barabati Stadium, Cuttack',
 'ACA-VDCA Stadium, Visakhapatnam']

In [27]:
dat = []
dat = driver.find_elements_by_xpath("//div[@class='fixture__full-date']")
for i in dat:
    date.append(i.text.replace('\n',' '))

In [28]:
date= date[0:10]

In [29]:
tm = []
tm = driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in tm:
    try:
        match_time.append(i.text) 
    except:
        match_time.append('NA')

In [30]:
match_time

[]

In [31]:
match_details = pd.DataFrame({})
match_details["Match Title"] = match_title
match_details["Series"] = series
match_details["Place"] = place
match_details["Date"] = date
#match_details["Time"] = time

In [32]:
match_details

,Match Title,Series,Place,Date
0,INDIA v NEW ZEALAND,T20I INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",17 NOVEMBER
1,INDIA v NEW ZEALAND,T20I INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",19 NOVEMBER
2,INDIA v NEW ZEALAND,T20I INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",21 NOVEMBER
3,INDIA v NEW ZEALAND,TEST INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",25 NOVEMBER
4,INDIA v NEW ZEALAND,TEST INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",03 DECEMBER
5,INDIA v WEST INDIES,ODI INDIA V WEST INDIES 2022,"Narendra Modi Stadium, Ahmedabad",06 FEBRUARY
6,INDIA v WEST INDIES,ODI INDIA V WEST INDIES 2022,"Sawai Mansingh Stadium, Jaipur",09 FEBRUARY
7,INDIA v WEST INDIES,ODI INDIA V WEST INDIES 2022,"Eden Gardens, Kolkata",12 FEBRUARY
8,INDIA v WEST INDIES,T20I INDIA V WEST INDIES 2022,"Barabati Stadium, Cuttack",15 FEBRUARY
9,INDIA v WEST INDIES,T20I INDIA V WEST INDIES 2022,"ACA-VDCA Stadium, Visakhapatnam",18 FEBRUARY

# Q3.Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/
You need to find following details:
1. Name
2. Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [33]:
driver.get('https://www.guru99.com/')
time.sleep(5)

In [34]:
search = driver.find_element_by_xpath("//ul[@class='menu1']/li[3]")
search.click()

In [35]:
search2 = driver.find_element_by_xpath("//*[@id='post-193']/div/div/table[5]/tbody/tr[34]/td[1]/a/strong")
search2.click()

In [36]:
name = []
description = []

In [37]:
result = []
result = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td")

In [38]:
for i in result:
    name.append(i.text)

In [39]:
len(name)

82

In [40]:
print(name[1])
print(name[0])

This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.
ElementNotVisibleException

In [41]:
exception = []
desc = []

In [42]:
len(name)

82

In [43]:
ex = []
des = []
for i in range(0,82):
    if i%2 == 0:
        ex.append(name[i])
    else:
        des.append(name[i])

In [44]:
print(len(ex))
print(len(des))

41
41

In [45]:
details = pd.DataFrame({})
details["Exception Name"] = ex
details["Exception Decription"] = des

In [46]:
details.head()

,Exception Name,Exception Decription
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...

# Q4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/
You have to find following details:
1. Rank
2. State
3. GSDP at current price (19-20)
4. GSDP at current price (18-19)
5. Share(18-19)
6. GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [4]:
from selenium.webdriver.support import select

In [3]:
driver.get('https://statisticstimes.com/')
time.sleep(5)

In [8]:
eco = driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]").get_attribute('href')

In [10]:
driver.get(eco)

In [13]:
state = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").get_attribute('href')
driver.get(state)

In [15]:
r = []
rank = []
r = driver.find_elements_by_xpath("//tr[@class='odd']/td[1]")
for i in r:
    rank.append(i.text)

In [17]:
len(rank)

34

In [18]:
s = []
state = []
s = driver.find_elements_by_xpath("//tr[@class='odd']/td[2]")
for i in s:
    state.append(i.text)

In [20]:
len(state)

34

In [25]:
g = []
gdsp_1920 = []
g = driver.find_elements_by_xpath("//tr[@class='odd']/td[3]")
for i in g:
    try:
        gdsp_1920.append(i.text)
    except:
        gdsp_1920.append("NA")

In [28]:
len(gdsp_1920)

34

In [29]:
g2 = []
gdsp_1819 = []
g2 = driver.find_elements_by_xpath("//tr[@class='odd']/td[4]")
for i in g2:
    try:
        gdsp_1819.append(i.text)
    except:
        gdsp_1819.append("NA")

In [31]:
len(gdsp_1819)

34

In [32]:
s2 = []
share = []
s2 = driver.find_elements_by_xpath("//tr[@class='odd']/td[5]")
for i in s2:
    try:
        share.append(i.text)
    except:
        share.append("NA")

In [34]:
len(share)

34

In [35]:
s3 = []
gdp = []
s3 = driver.find_elements_by_xpath("//tr[@class='odd']/td[6]")
for i in s3:
    try:
        gdp.append(i.text)
    except:
        gdp.append("NA")

In [37]:
len(gdp)

34

In [38]:
state_data = pd.DataFrame({})
state_data['RANK'] = rank
state_data['STATE'] = state
state_data['GDSP 19-20'] = gdsp_1920
state_data['GDSP 18-19'] = gdsp_1819
state_data['SHARE'] = share
state_data["GDP IN BILLIONS"] = gdp

In [40]:
state_data.head()

  RANK          STATE GDSP 19-20 GDSP 18-19   SHARE GDP IN BILLIONS
0    1    Maharashtra          -  2,632,792  13.94%         399.921
1    3  Uttar Pradesh  1,687,818  1,584,764   8.39%         240.726
2    5      Karnataka  1,631,977  1,493,127   7.91%         226.806
3    7      Rajasthan  1,020,989    942,586   4.99%         143.179
4    9      Telangana    969,604    861,031   4.56%         130.791

# Q5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
1. Repository title
2. Repository description
3. Contributors count
4. Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [41]:
from selenium.common.exceptions import NoSuchElementException

In [42]:
driver.get('https://github.com/')
time.sleep(5)

In [43]:
search = driver.find_element_by_xpath("//button[@class='js-details-target btn-link d-lg-none mt-1']")
search.click()

In [44]:
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details")
explore.click()

In [45]:
trending = driver.find_element_by_xpath('//a[contains(@data-ga-click,"(Logged out) Header, go to Trending")]')
trending.click()

In [46]:
url = []
urls = []
url = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in url:
    urls.append(i.get_attribute('href'))

In [47]:
len(urls)

25

In [48]:
repository_name = []
for i in urls:
    driver.get(i)
    name = driver.find_elements_by_xpath("//div[@class='css-truncate css-truncate-overflow color-fg-muted']/a")
    for j in name:
        repository_name.append(j.text)

In [49]:
repository_name = repository_name[0:25] 
len(repository_name)

25

In [50]:
repo_desc = []
for i in urls:
    driver.get(i)
    try:
        des = driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        repo_desc.append(des.text)
    except NoSuchElementException:
        repo_desc.append("Description Not available")

In [51]:
len(repo_desc)

25

In [53]:
contributor = []

for i in urls:
    driver.get(i)
    try:
        count = driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a/span")
        contributor.append(count.text)
    except:
        contributor.append('None')

In [56]:
len(contributor)

25

In [57]:
lang = []

for i in urls:
    driver.get(i)
    lan= driver.find_elements_by_xpath('//a[contains(@data-ga-click,"Repository, language")]')
    
    language = []
    for j in lan:
        language.append(j.text.split('\n')[0])
    lang.append({'language':','.join(language),})

In [58]:
lang

[{'language': 'Java,C++,C,Assembly,Perl,Go'},
 {'language': 'Python,C++,C,MATLAB,Perl,Shell'},
 {'language': 'Dart,Objective-C,Java,C++,Shell,Ruby'},
 {'language': 'Shell,Python,Roff,PHP,CSS,Dockerfile'},
 {'language': 'C,Makefile,Shell,Roff,Lua,Python'},
 {'language': 'Python,HTML'},
 {'language': 'JavaScript,Python,HTML'},
 {'language': 'Rust,GLSL,Shell'},
 {'language': 'JavaScript,TypeScript'},
 {'language': ''},
 {'language': 'TypeScript,JavaScript,CSS,Shell'},
 {'language': 'C++,Python,C,M4,Shell,Makefile'},
 {'language': 'C#'},
 {'language': 'Python'},
 {'language': 'Vue,JavaScript,CSS,HTML'},
 {'language': 'Python,GLSL,TeX'},
 {'language': ''},
 {'language': 'Assembly,C,Brainfuck,Roff,Limbo,E'},
 {'language': 'C,Makefile,CMake,Shell,HTML,Batchfile'},
 {'language': 'Python,HTML,Groovy,Shell'},
 {'language': 'Go'},
 {'language': 'C,C++,CMake,Objective-C++,Objective-C,Shell'},
 {'language': 'Rust,TypeScript,Shell,SCSS,C,Python'},
 {'language': 'Java,C++,C,Assembly,TypeScript,JavaScript'},
 {'language': ''}]

In [59]:
github = pd.DataFrame({})
github['Repository Name'] = repository_name
github['Repository Description'] = repo_desc
github['Contributors Number'] = contributor
github['Language Used'] = lang

In [60]:
github.head()

,Repository Name,Repository Description,Contributors Number,Language Used
0,xaxtix,Telegram for Android source,70,"{'language': 'Java,C++,C,Assembly,Perl,Go'}"
1,pd0wm,openpilot is an open source driver assistance ...,41,"{'language': 'Python,C++,C,MATLAB,Perl,Shell'}"
2,fluttergithubbot,Flutter makes it easy and fast to build beauti...,6,"{'language': 'Dart,Objective-C,Java,C++,Shell,..."
3,PromoFaux,A black hole for Internet advertisements,71,"{'language': 'Shell,Python,Roff,PHP,CSS,Docker..."
4,Beginner-Go,Lean's OpenWrt source,2,"{'language': 'C,Makefile,Shell,Roff,Lua,Python'}"

# Q6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
1. Song name
2. Artist name
3. Last week rank
4. Peak rank
5. Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [61]:
from selenium.webdriver.support import select

In [62]:
driver.get('https://www.billboard.com/')
time.sleep(5)

In [64]:
chart = driver.find_element_by_xpath("//*[@id='root']/div[2]/div[2]/header/div/ul/li[1]/a")
chart.click()

In [65]:
alb = driver.find_element_by_xpath("//div[@class='charts-landing__info--top charts-landing__info--top--hot-100']")
alb.click()

In [66]:
song = []
song_name = []
song = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]")
for i in song:
    song_name.append(i.text)

In [67]:
song_name[1]

'Stay'

In [68]:
art = []
artist_name = []
art = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]")
for i in art:
    artist_name.append(i.text)

In [69]:
artist_name[1]

'The Kid LAROI & Justin Bieber'

In [70]:
rank = []
last_week_rank = []
rank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in rank:
    try:
        last_week_rank.append(i.text)
    except:
        last_week_rank.append('NA')

In [71]:
len(last_week_rank)

100

In [72]:
top = []
peak_rank = []
top = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in top:
    peak_rank.append(i.text)

In [73]:
len(peak_rank)

100

In [74]:
week = []
week_on_chart = []
week = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in week:
    week_on_chart.append(i.text)

In [75]:
len(week_on_chart)

100

In [76]:
billboard_chart = pd.DataFrame({})
billboard_chart['Song Name'] = song_name
billboard_chart['Artist Name'] = artist_name
billboard_chart['Last week Rank'] = last_week_rank
billboard_chart['Peak Rank'] = peak_rank
billboard_chart['Weeks on Chart'] = week_on_chart
billboard_chart

,Song Name,Artist Name,Last week Rank,Peak Rank,Weeks on Chart
0,Easy On Me,Adele,1,1,3
1,Stay,The Kid LAROI & Justin Bieber,2,1,16
2,Industry Baby,Lil Nas X & Jack Harlow,3,1,14
3,Fancy Like,Walker Hayes,4,3,19
4,Bad Habits,Ed Sheeran,5,2,18
...,...,...,...,...,...
95,To Be Loved By You,Parker McCollum,-,96,1
96,Ain't Shit,Doja Cat,-,24,14
97,Life Goes On,Oliver Tree,-,91,2
98,Come Through,H.E.R. Featuring Chris Brown,-,64,16
99,Nevada,YoungBoy Never Broke Again,-,58,4

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
1. Name
2. Designation
3. Company
4. Skills they hire for
5. Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [77]:
from selenium.common.exceptions import NoSuchElementException

In [78]:
driver.get('https://www.naukri.com/')
time.sleep(5)

In [79]:
search = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a/div")
search.click()

In [80]:
search = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.send_keys("Data Science")

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input"}
  (Session info: chrome=95.0.4638.69)

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
1. Book name
2. Author name
3. Volumes sold
4. Publisher
5. Genre

In [81]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
time.sleep(5)

In [82]:
detail = []
books = []
detail = driver.find_elements_by_xpath("//td[@class='left']")
for i in detail:
    books.append(i.text)

In [83]:
len(books)

500

In [84]:
rank = []
for i in range(0,500,5):
    rank.append(books[i])

In [85]:
book_title = []
for i in range(1,500,5):
    book_title.append(books[i])

In [86]:
author = []
for i in range(2,500,5):
    author.append(books[i])

In [87]:
volumes_sold = []
for i in range(3,500,5):
    volumes_sold.append(books[i])

In [88]:
publisher = []
for i in range(4,500,5):
    publisher.append(books[i])

In [89]:
gen = []
genre = []
gen = driver.find_elements_by_xpath("//td[@class='last left']")
for i in gen:
    genre.append(i.text)

In [90]:
len(genre)

100

In [91]:
print(len(rank),len(book_title),len(author),len(volumes_sold),len(publisher),len(genre))

100 100 100 100 100 100

In [92]:
book_details = pd.DataFrame({})
book_details['Book Name'] = book_title
book_details['Author'] = author
book_details['Volumes Sold'] = volumes_sold
book_details['Published By'] = publisher
book_details['Genre'] = genre
book_details.head()

,Book Name,Author,Volumes Sold,Published By,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
1. Name
2. Year span
3. Genre
4. Run time
5. Ratings
6. Votes

In [93]:
driver.get('https://www.imdb.com/list/ls095964455/')
time.sleep(5)

In [94]:
year_span = []
year = []
year = driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in year:
    year_span.append(i.text)

In [95]:
len(year_span)

100

In [96]:
gen = []
genre = []
gen = driver.find_elements_by_xpath("//span[@class='genre']")
for i in gen:
    genre.append(i.text)

In [97]:
len(genre)

100

In [98]:
run = []
run_time = []
run = driver.find_elements_by_xpath("//span[@class='runtime']")
for i in run:
    run_time.append(i.text)

In [99]:
len(run_time)

100

In [100]:
rate = []
rating = []
rate = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
for i in rate:
    rating.append(i.text)

In [101]:
len(rating)

100

In [102]:
vote = []
votes = []
vote = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")
for i in vote:
    votes.append(i.text)

In [103]:
len(votes)

100

In [104]:
title = []
name = []
title = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in title:
    name.append(i.text)

In [105]:
len(name)

100

In [106]:
imdb_details = pd.DataFrame({})
imdb_details['Name'] = name
imdb_details['Year Span'] = year_span
imdb_details['Genre'] = genre
imdb_details['Run Time'] = run_time
imdb_details['Ratings'] = rating
imdb_details['Votes'] = votes

In [107]:
imdb_details.head()

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,895,689"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"926,975"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"910,664"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"272,504"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"232,926"

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
1. Dataset name
2. Data type
3. Task
4. Attribute type
5. No of instances
6. No of attribute
7. Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [108]:
driver.get('https://archive.ics.uci.edu/ml/index.php')
time.sleep(5)

In [109]:
all_dataset = driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
all_dataset.click()
#//span[@class='whitetext']/a

In [110]:
dataset_name = []
data_type = []
task = []
att_type = []
insta = []
att = []
year = []

In [111]:
name = []
name = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td")
for i in name:
    dataset_name.append(i.text)

In [112]:
data_name = []
for i in range(0,50,5):
    print(dataset_name[i])

Name
# Attributes
Categorical, Integer, Real
Multivariate
1996
798
Recommender-Systems
  Arrhythmia
279
Categorical, Integer, Real

In [113]:
print(dataset_name[0])
print(dataset_name[5])
print(dataset_name[15])

Name
# Attributes
Multivariate

In [114]:
dataset_name[0:50:2]

['Name',
 'Default Task',
 '# Instances',
 'Year',
 'Multivariate ',
 'Categorical, Integer, Real ',
 '8 ',
 '  Adult',
 'Classification ',
 '48842 ',
 '1996 ',
 'Multivariate ',
 'Categorical, Integer, Real ',
 '38 ',
 '  Anonymous Microsoft Web Data',
 'Recommender-Systems ',
 '37711 ',
 '1998 ',
 'Multivariate ',
 'Categorical, Integer, Real ',
 '279 ',
 '  Artificial Characters',
 'Classification ',
 '6000 ',
 '1992 ']