In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r"D:\Lalit\new\chromedriver_win32\chromedriver.exe")
driver.maximize_window()

In [254]:
driver.get("https://www.makemytrip.com/")
time.sleep(5)

In [177]:
driver.find_element_by_xpath("//li[text()='OneWay']").click()
#driver.find_element_by_xpath("//li[text()='Round Trip']").click()

In [255]:
driver.find_element_by_xpath("//span[text()='From']").click()

In [256]:
driver.find_element_by_xpath("//div[@class='hsw_autocomplePopup autoSuggestPlugin ']/div/input").send_keys("Mumbai")
time.sleep(2)

In [257]:
driver.find_element_by_xpath("//div[@class='hsw_autocomplePopup autoSuggestPlugin ']/div/input").send_keys(Keys.ARROW_DOWN)
driver.find_element_by_xpath("//div[@class='hsw_autocomplePopup autoSuggestPlugin ']/div/input").send_keys(Keys.ENTER)

In [258]:
driver.find_element_by_xpath("//span[text()='To']").click()
time.sleep(2)

In [259]:
driver.find_element_by_xpath("//input[@class='react-autosuggest__input react-autosuggest__input--open']").send_keys("Chennai")
time.sleep(2)

In [260]:
driver.find_element_by_xpath("//div[@class='hsw_autocomplePopup autoSuggestPlugin makeFlex column spaceBetween']/div/input").send_keys(Keys.ARROW_DOWN)
driver.find_element_by_xpath("//div[@class='hsw_autocomplePopup autoSuggestPlugin makeFlex column spaceBetween']/div/input").send_keys(Keys.ENTER)

In [261]:
driver.find_element_by_xpath("//span[text()='DEPARTURE']").click()
time.sleep(2)

In [262]:
all_date = driver.find_elements_by_xpath("//div[@class='DayPicker-Body']/div/div[@aria-disabled='false']/div/p[1]")

In [263]:
for i in all_date:
    if i.text == "18":
        i.click()
        time.sleep(2)
        break;

In [150]:
driver.find_element_by_xpath("//span[text()='Select return Date']").click()

In [151]:
rtn_date = driver.find_elements_by_xpath("//div[@class='DayPicker-Body']/div/div[@aria-disabled='false']/div/p[1]")

In [152]:
for i in rtn_date:
    if i.text == "7":
        i.click()
        time.sleep(2)
        break;

In [264]:
driver.find_element_by_xpath("//span[text()='Traveller']").click()

In [265]:
driver.find_element_by_xpath('//button[@class="primaryBtn btnApply pushRight"]').click()

In [266]:
driver.find_element_by_xpath('//a[@class="primaryBtn font24 latoBold widgetSearchBtn "]').click()
time.sleep(2)

Airline_name = []
Date_of_Journey = []
Source = []
Destination = []
Route = []
Dep_Time = []
Arrival_Time = []
Duration = []
Total_Stops = []
Price = []

In [267]:
name = driver.find_elements_by_xpath("//span[@class='boldFont blackText airlineName']")
for i in name:
    Airline_name.append(i.text)

In [268]:
test = []
name2 = driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoLeft']/div/p[2]")
for i in name2:
    Source.append(i.text)
    test.append(i.text)

In [269]:
desti = driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoRight']/div/p[2]")
for i in desti:
    Destination.append(i.text)

In [270]:
Route

[]

In [271]:
time2 = driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoLeft']/div/p[1]")
for i in time2:
    Dep_Time.append(i.text.replace('\n+1D',''))

In [272]:
time1 = driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoRight']/div/p/span")
for i in time1:
    Arrival_Time.append((i.text).replace('\n',''))

In [273]:
time3 = driver.find_elements_by_xpath("//div[@class='stop-info flexOne']/p")
for i in time3:
    Duration.append(i.text.strip('\n'))

In [274]:
len(Duration)

557

In [275]:
stp = driver.find_elements_by_xpath("//p[@class='flightsLayoverInfo']")
for i in stp:
    Total_Stops.append(i.text.strip(' via '))

In [276]:
len(Total_Stops)

557

In [277]:
fare = driver.find_elements_by_xpath("//p[@class='blackText fontSize18 blackFont white-space-no-wrap']")
for i in fare:
    Price.append(i.text.lstrip('₹'))

In [278]:
print(len(Airline_name))
print(len(Price))
print(len(Source))

557
557
557

In [279]:
print(len(Date_of_Journey))

518

In [280]:
len(test)

39

In [281]:
for i in test:
    if i == 'Mumbai':
        Date_of_Journey.append("18/02/2022")

In [282]:
len(Date_of_Journey)

557

for i in range(0,4):
    Date_of_Journey.append("NaN")

In [283]:
make_my_trip = pd.DataFrame({})

In [286]:
make_my_trip["Airline_Name"] = Airline_name
make_my_trip["Date_of_Journey"] = Date_of_Journey
make_my_trip["Source"] = Source
make_my_trip["Destination"] = Destination
make_my_trip["Dept_Time"] = Dep_Time
make_my_trip["Total_Stops"] = Total_Stops
make_my_trip["Duration_of_Flight"] = Duration
make_my_trip["Arr_Time"] = Arrival_Time
make_my_trip["Fare"] = Price

In [287]:
make_my_trip

,Airline_Name,Date_of_Journey,Source,Destination,Dept_Time,Total_Stops,Duration_of_Flight,Arr_Time,Fare
0,AirAsia,26/02/2022,Kolkata,Mumbai,13:30,1 stop via Bengaluru,07 h 05 m,20:35,"3,379"
1,AirAsia,26/02/2022,Kolkata,Mumbai,09:05,"2 stop via Bagdogra,New Delh",13 h 10 m,22:15,"3,379"
2,AirAsia,26/02/2022,Kolkata,Mumbai,16:15,1 stop via Bengaluru,08 h 20 m,00:35,"3,379"
3,AirAsia,26/02/2022,Kolkata,Mumbai,23:40,1 stop via New Delh,06 h 55 m,06:35,"3,379"
4,AirAsia,26/02/2022,Kolkata,Mumbai,20:00,1 stop via New Delh,10 h 35 m,06:35,"3,379"
...,...,...,...,...,...,...,...,...,...
552,Vistara,18/02/2022,Mumbai,Chennai,10:25,1 stop via New Delh,05 h 55 m,16:20,"4,674"
553,Vistara,18/02/2022,Mumbai,Chennai,15:45,1 stop via New Delh,07 h,22:45,"4,674"
554,Air India,18/02/2022,Mumbai,Chennai,16:00,1 stop via New Delh,07 h 35 m,23:35,"4,732"
555,Air India,18/02/2022,Mumbai,Chennai,10:25,"2 stop via Mangalore,Coimbatore",05 h 50 m,16:15,"4,757"
556,IndiGo,18/02/2022,Mumbai,Chennai,18:45,1 stop via Mangalore,05 h 05 m,23:50,"4,757"

In [288]:
make_my_trip.to_csv(r'D:\Internship\Project flip robo\Airline new data\make_my_trip.csv')

In [289]:
driver.close()