In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r"D:\Lalit\new\chromedriver_win32\chromedriver.exe")
driver.maximize_window()

In [206]:
driver.get("https://www.yatra.com/")
time.sleep(5)

In [207]:
driver.find_element_by_id("BE_flight_origin_city").click()

In [208]:
driver.find_element_by_id("BE_flight_origin_city").send_keys("Mumbai")

In [209]:
driver.find_element_by_id("BE_flight_origin_city").send_keys(Keys.ARROW_DOWN)
driver.find_element_by_id("BE_flight_origin_city").send_keys(Keys.ENTER)
time.sleep(2)

In [210]:
driver.find_element_by_id("BE_flight_arrival_city").click()

In [211]:
driver.find_element_by_id("BE_flight_arrival_city").send_keys("Chennai")

In [212]:
driver.find_element_by_id("BE_flight_arrival_city").send_keys(Keys.ARROW_DOWN)
driver.find_element_by_id("BE_flight_arrival_city").send_keys(Keys.ENTER)
time.sleep(2)

In [213]:
driver.find_element_by_id("BE_flight_origin_date").click()

In [214]:
all_date = driver.find_elements_by_xpath("//div[@id='monthWrapper']//tbody//td[@class!='inActiveTD']")
for i in all_date:
    if i.get_attribute("data-date") == "10/07/2022":
        i.click()
        break;

In [215]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()
time.sleep(2)

Airline_name = []
Date_of_Journey = []
Source = []
Destination = []
Route = []
Dep_Time = []
Arrival_Time = []
Duration = []
Total_Stops = []
Price = []

In [216]:
name = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    Airline_name.append(i.text)

In [217]:
test = []
name2 = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in name2:
    Source.append(i.text)
    test.append(i.text)

In [218]:
dest = driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in dest:
    Destination.append(i.text)

In [219]:
time1 = driver.find_elements_by_xpath("//div[@class='fs-15 bold time']//div")
for i in time1:
    Dep_Time.append(i.text.strip('\n'))

In [220]:
time2 = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in time2:
    Arrival_Time.append(i.text.replace('\n+ 1 day',''))

In [221]:
time3 = driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in time3:
    Duration.append(i.text)

In [222]:
stp = driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']//span")
for i in stp:
    Total_Stops.append(i.text)

In [223]:
fare = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    Price.append(i.text)

In [224]:
print(len(Price))
print(len(Total_Stops))
print(len(Arrival_Time))

827
827
827

In [225]:
test[0:5]

['Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai']

In [ ]:
wine

In [226]:
for i in test:
    if i == 'Mumbai':
        Date_of_Journey.append("10/07/2022")

In [227]:
print(len(Date_of_Journey))

827

In [228]:
yatra = pd.DataFrame({})

In [229]:
yatra["Airline_Name"] = Airline_name
yatra["Date_of_Journey"] = Date_of_Journey
yatra["Source"] = Source
yatra["Destination"] = Destination
yatra["Dept_Time"] = Dep_Time
yatra["Total_Stops"] = Total_Stops
yatra["Duration_of_Flight"] = Duration
yatra["Arr_Time"] = Arrival_Time
yatra["Fare"] = Price

In [230]:
yatra

,Airline_Name,Date_of_Journey,Source,Destination,Dept_Time,Total_Stops,Duration_of_Flight,Arr_Time,Fare
0,SpiceJet,15/03/2022,Kolkata,Mumbai,09:35,Non Stop,2h 45m,12:20,"3,380"
1,Go First,15/03/2022,Kolkata,Mumbai,04:55,Non Stop,2h 50m,07:45,"3,380"
2,Go First,15/03/2022,Kolkata,Mumbai,17:30,Non Stop,2h 50m,20:20,"3,380"
3,SpiceJet,15/03/2022,Kolkata,Mumbai,21:55,Non Stop,2h 50m,00:45,"3,380"
4,IndiGo,15/03/2022,Kolkata,Mumbai,11:55,1 Stop,4h 40m,16:35,"3,380"
...,...,...,...,...,...,...,...,...,...
822,Vistara,10/07/2022,Mumbai,Chennai,06:20,2 Stop(s),13h 55m,20:15,"15,192"
823,Vistara,10/07/2022,Mumbai,Chennai,11:25,2 Stop(s),11h 20m,22:45,"16,442"
824,Vistara,10/07/2022,Mumbai,Chennai,06:45,2 Stop(s),13h 30m,20:15,"16,442"
825,Vistara,10/07/2022,Mumbai,Chennai,09:05,2 Stop(s),11h 10m,20:15,"17,282"
826,Vistara,10/07/2022,Mumbai,Chennai,07:00,2 Stop(s),13h 15m,20:15,"17,282"

In [231]:
yatra.to_csv(r'D:\Internship\Project flip robo\Airline new data\yatra_new.csv')

In [232]:
driver.close()