Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:

1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.


Note- All of the above steps have to be done in code. No step is to be done manually.

In [5]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [6]:
driver = webdriver.Chrome(r"C:\Users\User\Documents\chromedriver.exe")

In [7]:
driver.get('https://naukri.com/')

In [9]:
time.sleep(3)
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")

search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [10]:
jobs= []
jobs_location = []
jobs_company_name = []
jobs_exp_req = []

In [15]:
title = []
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [16]:
job_title = []
for i in title:
    job_title.append(i.text)

In [17]:
jobs = job_title[0:10]

In [18]:
jobs

['Associate Data Analyst',
 'Lead Data Analyst / Data Engineer',
 'Data Analyst / Business Analyst (Demand Planning)',
 'Data Analyst - Marketing',
 'Business Data Analyst',
 'Data Analyst',
 'Openings For Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst']

In [19]:
com_name = []
com_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [20]:
company_name = []
for i in com_name:
    company_name.append(i.text)

In [23]:
jobs_company_name = company_name[0:10]
jobs_company_name

['Integrated Digital Systems',
 'Huawei Technologies',
 'Flipkart',
 'Byjus - Transforming Education using Technology',
 'RANDSTAD INDIA PVT LTD',
 'Amazon Development Centre (India) Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited']

In [24]:
exp = []
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [25]:
exp_req = []
for i in exp:
    exp_req.append(i.text)

In [27]:
jobs_exp_req = exp_req[0:10]
jobs_exp_req

['0-2 Yrs',
 '5-10 Yrs',
 '1-4 Yrs',
 '0-2 Yrs',
 '8-12 Yrs',
 '2-4 Yrs',
 '0-3 Yrs',
 '2-5 Yrs',
 '3-7 Yrs',
 '3-7 Yrs']

In [28]:
loc = []
loc = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")

In [29]:
location = []
for i in loc:
    location.append(i.text)

In [30]:
jobs_location = location[0:10]
jobs_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [31]:
print(len(jobs),len(jobs_location),len(jobs_company_name),len(jobs_exp_req))

10 10 10 10

In [34]:
job_details = pd.DataFrame({})

job_details["JOB TITLE"] = jobs
job_details["JOB LOCATION"] = jobs_location
job_details["COMPANY NAME"] = jobs_company_name
job_details["EXPERIENCE REQUIRED"] = jobs_exp_req

job_details

,JOB TITLE,JOB LOCATION,COMPANY NAME,EXPERIENCE REQUIRED
0,Associate Data Analyst,Bangalore/Bengaluru,Integrated Digital Systems,0-2 Yrs
1,Lead Data Analyst / Data Engineer,Bangalore/Bengaluru,Huawei Technologies,5-10 Yrs
2,Data Analyst / Business Analyst (Demand Planning),Bangalore/Bengaluru,Flipkart,1-4 Yrs
3,Data Analyst - Marketing,Bangalore/Bengaluru,Byjus - Transforming Education using Technology,0-2 Yrs
4,Business Data Analyst,Bangalore/Bengaluru,RANDSTAD INDIA PVT LTD,8-12 Yrs
5,Data Analyst,Bangalore/Bengaluru,Amazon Development Centre (India) Pvt. Ltd.,2-4 Yrs
6,Openings For Data Analyst,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-3 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,3-7 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,3-7 Yrs