# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note- 1. All of the above steps have to be done in code. No step is to be done manually.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [4]:
driver = webdriver.Chrome(r"C:\Users\User\Documents\chromedriver.exe")
driver.maximize_window()

In [5]:
driver.get('https://naukri.com/')
time.sleep(5)

In [4]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()
time.sleep(8)

In [5]:
job_opening_urls = []
url= driver.find_elements_by_xpath('//a[@class= "title fw500 ellipsis"]')
for i in url[0:10]:
    job_opening_urls.append(i.get_attribute('href'))

job_opening_urls = []
target= driver.find_elements_by_xpath('//a[@class= "title fw500 ellipsis"]')
for i in target[0:10]:
    job_opening_urls.append(i.get_attribute('href'))

titl = []
for i in job_opening_urls:
    head = driver.find_elements_by_xpath('//h1@class= "jd-header-title"]')
     for i in head:       titl.append(i.text)

In [6]:
job_opening_urls

['https://www.naukri.com/job-listings-data-scientist-ai-ml-engineer-hitachi-ltd-bangalore-bengaluru-5-to-10-years-111021500424?src=jobsearchDesk&sid=16340811442247689&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-go-jek-india-bangalore-bengaluru-5-to-10-years-111021502002?src=jobsearchDesk&sid=16340811442247689&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-convergence-infotech-ltd-bangalore-bengaluru-8-to-12-years-111021004221?src=jobsearchDesk&sid=16340811442247689&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-nlp-thomson-reuters-international-services-pvt-ltd-bangalore-bengaluru-8-to-10-years-111021001745?src=jobsearchDesk&sid=16340811442247689&xp=4&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-4-to-9-years-121021907623?src=jobsearchDesk&sid=16340811442247689&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-bridgetree-research-services-private-limited-bangalore-bengaluru-4-to-5-years-111021005895?src=jobsearchDesk&sid=16340811442247689&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-flipkart-internet-private-limited-bangalore-bengaluru-3-to-6-years-081021906627?src=jobsearchDesk&sid=16340811442247689&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-051021909207?src=jobsearchDesk&sid=16340811442247689&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ai-flagship-schneider-electric-india-pvt-ltd-bangalore-bengaluru-4-to-7-years-081021501357?src=jobsearchDesk&sid=16340811442247689&xp=9&px=1',
 'https://www.naukri.com/job-listings-digital-enterprise-architect-data-scientist-mphasis-limited-bangalore-bengaluru-10-to-13-years-051021900146?src=jobsearchDesk&sid=16340811442247689&xp=10&px=1']

In [7]:
head = []
for i in job_opening_urls[0:10]:
    driver.get(i)
    titl = []
    titl = driver.find_elements_by_xpath("//h1[@class='jd-header-title']")
    for j in titl:
        head.append(j.text)

In [8]:
comp = []
for m in job_opening_urls[0:10]:
    driver.get(m)
    com = []
    com = driver.find_elements_by_xpath("//div[@class='jd-top-head']/div/a[@class='pad-rt-8']")
    for n in com:
        comp.append(n.text.strip())

In [100]:
loca = []
for a in job_opening_urls[0:10]:
    driver.get(a)
    loc = []
    loc = driver.find_elements_by_xpath("//span[@class='location ']/a") #//div[@class='loc']/span[1]/a[1]
    for b in loc:
        loca.append(b.text)

In [10]:
desc = []
for k in job_opening_urls[0:10]:
    driver.get(k)
    des = []
    des = driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
    for l in des:
        desc.append(l.text)

In [101]:
print(len(head), len(comp),len(loca),len(desc))

5 5 5 5

In [102]:
import pandas as pd
job_details = pd.DataFrame({})
job_details['Title'] = head
job_details['Company Name'] = comp
job_details['Job Location'] = loca
job_details['Job Description'] = desc

In [103]:
job_details

,Title,Company Name,Job Location,Job Description
0,Data Scientist / AI / ML Engineer,Hitachi Ltd.,Bangalore/Bengaluru,Duties and Responsibilities\nImplement the app...
1,Senior Data Scientist,GO-JEK India,Bangalore/Bengaluru,"What You Will Do\nWork with Data Scientists, M..."
2,Senior Data Scientist,Convergence Infotech Ltd,Bangalore/Bengaluru( Sadashiva Nagar ),"Roles and Responsibilities\nPhD in Statistics,..."
3,"Senior Data Scientist, NLP",Thomson Reuters,Bangalore/Bengaluru,"Senior Data Scientist, NLP\nAre you excited ab..."
4,Lead Data Scientist,Huawei Technologies,Bangalore/Bengaluru,We are looking for a Lead data scientist who w...

In [6]:
driver.close()