# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time

In [2]:
driver = webdriver.Chrome(r"C:\Users\User\Documents\chromedriver.exe")
driver.maximize_window()
time.sleep(5)

In [3]:
driver.get('https://www.glassdoor.co.in/member/home/index.htm')
time.sleep(8)

In [4]:
company_name = []
days = []
rating_comp = []

In [5]:
search_job = driver.find_element_by_id("sc.keyword")
search_job.send_keys("Data Scientist")

In [6]:
search_loc = driver.find_element_by_id("sc.location")
search_loc.send_keys("Noida")

In [7]:
search = driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7']")
search.click()

In [8]:
comp = []
comp = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
for i in comp:
    company_name.append(i.text)

In [9]:
len(company_name)

30

In [10]:
day = []
day = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")
for i in day:
    days.append(i.text)

In [11]:
len(days)

30

In [12]:
rating = []
rating = driver.find_elements_by_xpath("//div[@class='d-flex flex-column job-search-key-1pzmdmc e1rrn5ka1']")
for i in rating:
    try:
        rating_comp.append(i.text)
    except:
        rating_comp.append("NA")

In [13]:
len(rating_comp)

30

In [14]:
job_detail = pd.DataFrame({})
job_detail["Company Name"] = company_name
job_detail["Job Posted"] = days
job_detail["Company Rating"] = rating_comp

In [15]:
job_detail

                                   Company Name Job Posted Company Rating
0                       Instrovate Technologies       30d+
1              2COMS Consulting Private Limited        17d            3.8
2                                  Pixel Vision         5d
3                            UnitedHealth Group         9d            3.7
4                                     HDFC Bank         6d
5                                         Crowe        16d            3.8
6                                     Innovacer         5d            3.8
7                  Salasar New Age Technologies       30d+
8        AlgoScale Technologies Private Limited       30d+            4.0
9                                 Optum - India        24d            4.0
10                                     Techlive       30d+            5.0
11         Liberin Technologies Private Limited       30d+
12                         RannLab Technologies         2d            3.6
13                                 AIIMS, Delhi         4d            4.5
14                       CODEC Networks Pvt ltd        19d            3.1
15                            NEC Opportunities        17d
16  Iraitech Innovations & Tehcnologies Pvt.Ltd         9d
17                               Biz2Credit Inc       30d+            4.3
18                         Emerging India Group       30d+            2.4
19                 Salasar New Age Technologies       30d+
20                                    dunnhumby         3d            4.1
21                           UnitedHealth Group        24d            3.7
22                                    R Systems        16d            3.6
23                                          IBM       30d+            3.9
24                              Kline & Company         4d
25                              Newgen Software       30d+            3.3
26                           UnitedHealth Group       30d+            3.7
27                           TransOrg Analytics        11d            2.7
28                                 Airtel India       30d+            3.8
29                                  Crypto Mize       30d+            5.0