# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time

In [39]:
driver = webdriver.Chrome(r"C:\Users\User\Documents\chromedriver.exe")
driver.maximize_window()
time.sleep(5)

In [3]:
driver.get('https://www.glassdoor.co.in/member/home/index.htm')
time.sleep(8)

In [4]:
company_name = []
days = []
rating_comp = []

In [6]:
search_job = driver.find_element_by_id("sc.keyword")
search_job.send_keys("Data Scientist")

In [7]:
search_loc = driver.find_element_by_id("sc.location")
search_loc.send_keys("Noida")

In [8]:
search = driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7']")
search.click()
time.sleep(10)

In [9]:
comp = []
comp = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
for i in comp:
    company_name.append(i.text)

In [10]:
len(company_name)

30

In [11]:
day = []
day = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")
for i in day:
    days.append(i.text)

In [12]:
len(days)

30

In [13]:
rating = []
rating = driver.find_elements_by_xpath("//div[@class='d-flex flex-column job-search-key-1pzmdmc e1rrn5ka1']")
for i in rating:
    try:
        rating_comp.append(i.text)
    except:
        rating_comp.append("NA")

In [14]:
len(rating_comp)

30

In [15]:
job_detail = pd.DataFrame({})
job_detail["Company Name"] = company_name
job_detail["Job Posted"] = days
job_detail["Company Rating"] = rating_comp

In [16]:
job_detail

                                   Company Name Job Posted Company Rating
0                       Instrovate Technologies       30d+
1              2COMS Consulting Private Limited        17d            3.8
2                                  Pixel Vision         6d
3                            UnitedHealth Group         9d            3.7
4                                     HDFC Bank         6d
5                                         Crowe        16d            3.8
6                                     Innovacer         5d            3.8
7                  Salasar New Age Technologies       30d+
8        AlgoScale Technologies Private Limited       30d+            4.0
9                                 Optum - India        24d            4.0
10                                     Techlive       30d+            5.0
11         Liberin Technologies Private Limited       30d+
12                         RannLab Technologies         2d            3.6
13                                 AIIMS, Delhi         4d            4.5
14                       CODEC Networks Pvt ltd        19d            3.1
15                            NEC Opportunities        17d
16  Iraitech Innovations & Tehcnologies Pvt.Ltd         9d
17                               Biz2Credit Inc       30d+            4.3
18                         Emerging India Group       30d+            2.4
19                 Salasar New Age Technologies       30d+
20                                    dunnhumby         3d            4.1
21                           UnitedHealth Group        24d            3.7
22                                    R Systems        16d            3.6
23                              Kline & Company         4d
24                              Newgen Software       30d+            3.3
25                           UnitedHealth Group       30d+            3.7
26                           TransOrg Analytics        11d            2.7
27                                 Airtel India       30d+            3.8
28                                  Crypto Mize       30d+            5.0
29                           TransOrg Analytics        11d            2.7

In [145]:
driver = webdriver.Chrome(r"C:\Users\User\Documents\chromedriver.exe")
driver.maximize_window()
time.sleep(5)

In [170]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')
time.sleep(8)

In [171]:
job2 = driver.find_element_by_id("KeywordSearch")
job2.send_keys("Data Scientist")

In [172]:
search_loc = driver.find_element_by_id("LocationSearch")
search_loc.send_keys("Noida")

In [173]:
button = driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
button.click()
time.sleep(10)

In [174]:
company_name = []
no_sal = []
avg_sal = []
min_sal = []
max_sal = []

In [175]:
comp = []
comp = driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
for i in comp:
    company_name.append(i.text)

In [176]:
company_name

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Delhivery',
 'EXL Service',
 'Optum',
 'ZS Associates',
 'Optum Global Solutions',
 'dunnhumby',
 'Valiance Solutions',
 'Cognizant Technology Solutions',
 'Amazon',
 'Nagarro',
 'Innovaccer',
 'Fresher',
 'OYO',
 'HCL Technologies',
 'Genpact']

In [177]:
sal1 = []
sal1 = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span[@class='m-0 css-1b6bxoo']")
for i in sal1:
    no_sal.append(i.text)

In [178]:
len(no_sal)

20

In [179]:
sal2 = []
sal2 = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
for i in sal2:
    avg_sal.append(i.text.replace("\n"," "))

In [180]:
avg_sal

['₹6,36,785  /yr',
 '₹9,24,624  /yr',
 '₹12,24,104  /yr',
 '₹7,68,525  /yr',
 '₹12,82,880  /yr',
 '₹12,60,805  /yr',
 '₹12,53,544  /yr',
 '₹12,70,000  /yr',
 '₹11,82,266  /yr',
 '₹14,62,558  /yr',
 '₹11,45,202  /yr',
 '₹8,93,926  /yr',
 '₹9,66,328  /yr',
 '₹20,82,095  /yr',
 '₹11,11,592  /yr',
 '₹12,51,280  /yr',
 '₹50,000  /mo',
 '₹14,64,785  /yr',
 '₹6,96,665  /yr',
 '₹5,96,566  /yr']

In [181]:
#min_sal = []
sal3 = []
sal3 = driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[1]")
for i in sal3:
    min_sal.append(i.text)

In [182]:
min_sal

['₹4L',
 '₹6L',
 '₹6L',
 '₹4L',
 '₹8L',
 '₹5L',
 '₹6L',
 '₹8L',
 '₹2L',
 '₹11L',
 '₹6L',
 '₹5L',
 '₹4L',
 '₹10L',
 '₹4L',
 '₹6L',
 '₹25T',
 '₹10L',
 '₹4L',
 '₹2L']

In [183]:
#min_sal = []
sal4 = []
sal4 = driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[2]")
for i in sal4:
    max_sal.append(i.text)

In [184]:
max_sal

['₹13L',
 '₹26L',
 '₹23L',
 '₹17L',
 '₹16L',
 '₹1Cr',
 '₹20L',
 '₹21L',
 '₹22L',
 '₹18L',
 '₹21L',
 '₹15L',
 '₹13L',
 '₹46L',
 '₹21L',
 '₹18L',
 '₹1L',
 '₹21L',
 '₹15L',
 '₹23L']

In [185]:
sal_details= pd.DataFrame({})
sal_details["Company Name"] = company_name
sal_details["Number of Salaries"] = no_sal
sal_details["Average Salary"] = avg_sal
sal_details["Minimum Salary"] = min_sal
sal_details["Maximum Salary"] = max_sal

In [186]:
sal_details

,Company Name,Number of Salaries,Average Salary,Minimum Salary,Maximum Salary
0,Tata Consultancy Services,25 salaries,"₹6,36,785 /yr",₹4L,₹13L
1,IBM,21 salaries,"₹9,24,624 /yr",₹6L,₹26L
2,Accenture,16 salaries,"₹12,24,104 /yr",₹6L,₹23L
3,Ericsson-Worldwide,15 salaries,"₹7,68,525 /yr",₹4L,₹17L
4,UnitedHealth Group,15 salaries,"₹12,82,880 /yr",₹8L,₹16L
5,Delhivery,15 salaries,"₹12,60,805 /yr",₹5L,₹1Cr
6,EXL Service,11 salaries,"₹12,53,544 /yr",₹6L,₹20L
7,Optum,11 salaries,"₹12,70,000 /yr",₹8L,₹21L
8,ZS Associates,10 salaries,"₹11,82,266 /yr",₹2L,₹22L
9,Optum Global Solutions,10 salaries,"₹14,62,558 /yr",₹11L,₹18L
10,dunnhumby,10 salaries,"₹11,45,202 /yr",₹6L,₹21L
11,Valiance Solutions,10 salaries,"₹8,93,926 /yr",₹5L,₹15L
12,Cognizant Technology Solutions,8 salaries,"₹9,66,328 /yr",₹4L,₹13L
13,Amazon,8 salaries,"₹20,82,095 /yr",₹10L,₹46L
14,Nagarro,8 salaries,"₹11,11,592 /yr",₹4L,₹21L
15,Innovaccer,8 salaries,"₹12,51,280 /yr",₹6L,₹18L
16,Fresher,7 salaries,"₹50,000 /mo",₹25T,₹1L
17,OYO,7 salaries,"₹14,64,785 /yr",₹10L,₹21L
18,HCL Technologies,6 salaries,"₹6,96,665 /yr",₹4L,₹15L
19,Genpact,6 salaries,"₹5,96,566 /yr",₹2L,₹23L

In [187]:
driver.close()