# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [2]:
driver = webdriver.Chrome(r"C:\Users\User\Documents\chromedriver.exe")
driver.maximize_window()

In [3]:
driver.get('https://www.flipkart.com/')

In [4]:
time.sleep(5)
close = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
close.click()

In [5]:
search_prod = driver.find_element_by_name('q')
search_prod.send_keys("sneakers")

In [6]:
search_button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [7]:
time.sleep(3)

brand = []
brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

brand_name = []
for i in brand:
    brand_name.append(i.text)

In [8]:
len(brand_name)

40

In [9]:
desc = []
desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
time.sleep(3)
des = []
for i in desc:
    des.append(i.text)

In [26]:
len(des)

77

In [12]:
paise = []
paise = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
time.sleep(3)
price = []
for i in paise:
    price.append(i.text)

In [13]:
len(price)

40

In [14]:
time.sleep(3)
dis = []
dis = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
disc = []
for i in dis:
    disc.append(i.text)

In [15]:
print(price[0:5])
print(des[0:5])
print(brand_name[0:5])
print(disc[0:5])

['₹699', '₹520', '₹359', '₹348', '₹472']
["Men's Sneakers Walking Shoes - New Designed Luxury Bran...", 'Modern Trendy Sneakers Shoes Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...', 'Sneakers For Men']
['Echor', 'RapidBox', 'BRUTON', 'D-SNEAKERZ', 'BRUTON']
['58% off', '47% off', '72% off', '47% off', '88% off']

In [16]:
next_button = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button.click()

In [17]:
time.sleep(3)
brand2 = []
brand2 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand2:
    brand_name.append(i.text)

In [18]:
len(brand_name)

80

In [19]:
time.sleep(3)
desc2 = []
desc2 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in desc2:
    des.append(i.text)

In [22]:
time.sleep(3)
paise2 = []
paise2 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in paise2:
    price.append(i.text)

In [23]:
len(price)

80

In [24]:
target_url = []
url = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
for i in url:
    target_url.append(i.get_attribute('href'))

In [25]:
target_url

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [27]:
driver.get(target_url[1])

In [28]:
time.sleep(3)
brand3 = []
brand3 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand3:
    brand_name.append(i.text)

In [29]:
time.sleep(3)
paise3 = []
paise3 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in paise3:
    price.append(i.text)

In [30]:
time.sleep(3)
dis3 = []
dis3 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in dis3:
    disc.append(i.text)

In [35]:
for i in range(1,24):
    disc.append(" ")

In [31]:
time.sleep(3)
desc3 = []
desc3 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in desc3:
    des.append(i.text)

In [36]:
brand_name = brand_name[0:100]
price= price[0:100]
disc = disc[0:100]
des = des[0:100]

In [37]:
sneakers = pd.DataFrame({})
sneakers['Brand'] = brand_name
sneakers['Price'] = price
sneakers['Discounts'] = disc
sneakers['Description'] = des

In [43]:
sneakers.tail(50)

,Brand,Price,Discounts,Description
50,BIRDE,₹525,67% off,Relaxed Attractive Combo pack of 4 Sneakers Fo...
51,CALCADOS,₹689,60% off,White Sneaker For Men's/Boy's Sneakers For Men
52,Shoes Bank,₹348,81% off,Luxury Fashionable casual shoes Sneakers For Men
53,luxury fashion,₹449,78% off,Sneakers For Men
54,Robbie jones,₹499,58% off,Combo Pack of 2 Lattest Collection Stylish Cas...
55,BRUTON,₹526,20% off,Fashion Outdoor Canvas Casual Light Weight Lac...
56,RODDICK SHOES,₹474,69% off,Men White Sneakers Sneakers For Men
57,SPARX,₹666,43% off,shoe Sneakers For Men
58,Airland,₹257,44% off,Smash L Sneakers For Men
59,PUMA,"₹1,799",76% off,Combo Pack of 2 Casual Shoes Sneakers For Men
60,BIRDE,₹525,30% off,171 Smart Tan Lace-Ups Casuals for Men Sneaker...
61,SPARX,₹737,61% off,Pacer Laser IDP Sneakers For Men
62,Chevit,₹249,25% off,Sneakers For Men
63,believe,₹449,18% off,Super Stylish & Trendy Combo Pack of 02 Pairs ...
64,HOTSTYLE,₹198,78% off,Trinity IDP Sneakers For Men
65,PUMA,"₹2,069",52% off,GAIMAN 2.O Sneakers For Men
66,Nilatin,₹439,24% off,Fashionable sneaker casual shoes Sneakers For Men
67,believe,₹449,65% off,Perforated Low IDP Sneakers For Men
68,Chevit,₹631,50% off,Luxury Fashionable Casual Sneakers shoes For M...
69,PUMA,"₹1,609",45% off,Casual Sneakers Shoes For Men And Boys Sneaker...
70,Creer,₹398,69% off,Trinity IDP Sneakers For Men
71,PUMA,"₹3,499",54% off,"white Casual shoes,Sneakers for men's Sneakers..."
72,U.S. POLO ASSN.,"₹1,989",40% off,
73,India hub,₹448,60% off,
74,PUMA,"₹2,306",38% off,
75,bluemaker,₹499,45% off,
76,HOC,₹419,50% off,
77,Robbie jones,₹499,,PANAL Sneakers For Men
78,PUMA,"₹1,749",,Rigel IDP Sneakers For Men
79,Xtoon,₹429,,SM-482 Sneakers For Men
80,U.S. POLO ASSN.,"₹2,099",,Unique & Perfect Collection Combo Pack of 02 S...
81,PUMA,"₹1,289",,Canvas Casual Partywear Outdoor Sneakers Shoes...
82,SPARX,₹959,,Synthetic Leather Casual Partywear Wedding Sne...
83,RapidBox,₹520,,Combo Pack of 5 Casual Shoes Sneakers For Men
84,Chevit,₹599,,Speed Set of 5 Pairs Sneakers Outdoors Casuals...
85,SPARX,₹666,,Latest Fashion Combo Pack of 2 Pairs Casual Ou...
86,T-ROCK,₹379,,Combo Pack Of 4 Casual Sneaker Shoes For Men S...
87,RapidBox,₹640,,Trendy Fashion Sneakers For Men
88,BIRDE,₹842,,Men's Sneakers Walking Shoes - New Designed Lu...
89,RED TAPE,"₹1,049",,Birde Trendy Casual Shoes Sneakers For Men
90,Qtsy,₹395,,Sneakers For Men
91,Chevit,₹799,,Combo Pack of 3 Casual Sneakers Shoes Sneakers...
92,Chevit,₹599,,LEBRON 2.0 Sneakers For Men
93,BRUTON,₹736,,Puma Smash v2 L Sneakers For Men
94,BRUTON,₹284,,Modern Trendy Combo Pack OF 2 Casual Shoes For...
95,Echor,₹699,,PUMA X 1DER KL RAHUL Sneakers For Men
96,BIRDE,₹399,,Venture Runner Sneakers For Men
97,Allen Solly,"₹2,499",,SM-162 Sneakers For Men
98,PEXLO,₹736,,Fashionable casual sneaker shoes Sneakers For Men
99,U.S. POLO ASSN.,"₹2,267",,Sneakers For Men